# Ignore Python virtual environments
.venv/
venv/

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo

# Build artifacts
*.exe
*.out
*.obj
*.o

# VS Code local settings
.vscode/

# System files
.DS_Store
Thumbs.db

# --- Node ---
node_modules/